
<div id="login">


  <h1>Login</h1>

  <%= form_tag '/login' do %>

  <div>

    <%= text_field_tag :email, value = nil, :placeholder => "Email address"%>
  </div>
  <div>
    <%= password_field_tag :password, value = nil, :placeholder => "Password"%>
  </div>
  <div>
    <%= submit_tag nil, class: "form_submit"%>
  </div>
  <% end %>
</div>
