
<div id="login">


  <div class="md-content">
    <h1>Login</h1>
    <div id="fields">
            <%= form_tag '/login' do %>

        <p><%= text_field_tag :email, value = nil, :placeholder => "Email address"%>

        <p><%= password_field_tag :password, value = nil, :placeholder => "Password"%>

        <p><%= submit_tag nil, class: "form_submit"%>

            <% end %>
    </div>
  </div>


</div>
