/*// Place all the styles related to the Session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// <style>*/
* {
  margin: 0;
}
h1, h2, h3 {
  padding: 5px;
}

header, footer {
 background-color:black;
 color:white;
 text-align:right;
 padding-top: 20px;
 padding-right:20px;
 padding-bottom: 0;
 height: 40px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align:center;
}

#nav {
 background-color:gray;
 height:30px;
 padding:5px;
 color: white;
}

#login,
#signup,
#newHouse,
#Dashboard,
#Match,
#Recognition,
#HouseMembers {
  margin: auto;
  text-align: center;
  padding: 5%;
}

input#email,
input#password,
input#user_first_name,
input#user_last_name,
input#user_zipcode,
input#user_phone_number,
input#user_email,
input#user_password,
input#user_password_confirmation,
input#house_name {
  width: 235px;
  height: 30px;
  margin-top: 5px;
  font-size: 1rem;
  border-radius: 0.3rem;
  border: 2px inset;
}

input.form_submit {
  width: 243px;
  height: 37px;
  margin-top: 5px;
  font-size: 1rem;
  color: white;
  border-radius: 0.3rem;
  border: 2px inset;
}

#houseLI {
  padding: 20px;
}
